# То, какой Handler использовать (класс, который соответствует комбинации конкретного сервиса и конкретной версии его API):
ACTIVE_HANDLER=OpenWeather25Handler

# Ключи для конкретных Handler классов:
# (НАЗВАНИЕ ПЕРЕМЕННОЙ = Имя класса в коде + _API_KEY)

# OPENWEATHER:
OPENWEATHER25HANDLER_API_KEY=api_ключ_без_кавычек


